/* mobile-first*/

/* benefits */
.benefits, .benefits-list, .benefits-list-item, main{
    width: 100%;
}

.benefits-list, .benefits-list-item, .benefits-list-item a, .benefits-list-item-detail {
    display: flex;
}
.benefits-list {
    flex-direction: column;
    align-items: center;
}

.benefits-list-item {
    justify-content: center;
    margin: 20.5px 0%;
}

.benefits-list-item img {
    height: 40px;   
}

.benefits-list-item a { 
    justify-content: space-around;
    align-items: center;
    width: 240px;
}

.benefits-list-item h4 {
    font-weight: 800;
    white-space: nowrap;
}

.benefits-list-item p {
    height: 13px;
    font-size: 0.76527rem;
    white-space: nowrap;
}

.benefits-list-item-detail {
    
    flex-direction: column;
    justify-content: center;
    height: 43px;
}

/* main */

.styles, .styles-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styles {
    width: 100%;

}

.styles-item {
    margin: 0% 0.74074%;
}

.styles-item img {
    width: 100%;
    max-width: 340px;
    margin: 20.5px 0 18px;
}

.styles-item a {
    width: 100%;
}

.styles-item a h3 {
    max-height: 18px;
    font-size: 1.15rem;
    margin-bottom: 33px;
}

.btn-styles {
    width: 134px;
    height: 55px;
    margin: 0px auto 31px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
}

.btn-styles p {
    margin: auto;
    height: 10px;
    font-size: 0.793rem;
}


/* slider brands*/

.brands {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 77px;
}

.brands-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90.5185%;
    overflow: hidden;
    position: relative;
}

.brands-list-item img {
    width: 55%;
    margin: 1px 0% 1px;
}

.brands-list li{
    display: none;
}

.brands-list li.active-brand {
    display: inline-block;
}

.btn-click {
    width: 27px;
    height: 50px;
}

.btn-brands {
    opacity: 0.3;
}

/* slider news */

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 75px;
}

.news-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.news-navbar h2 {
    height: 18px;
    font-size: 1.343rem;
    margin-bottom: 20px;
}

.news-navbar-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
}

.active-border {
    border-bottom: 1px solid #000;
}

.news-navbar-item {
    width: 25%;
    text-align: center;
}

.news-navbar-item h3 {
    height: 16px;
    font-size: 0.8125rem;
    cursor: pointer;
}

.news-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 74px;
}
.news-art {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90.5185%;
    overflow: hidden;
    position: relative;
}

.news-art-item {
    display: none;
}

.news-art-item img {
    position: relative;
}

.news-art-item span {
    position: absolute;
    top: 10%;
    left: 10%;
}
.active-new {
    display: inline-block;
}



/* above table */
@media(min-width: 768px) {
    .benefits-list {
        flex-flow: row wrap;
        justify-content: center;
    }

    .benefits-list-item {
        width: 45%;
    }

    .styles {
        flex-direction: row;
        justify-content: center;
    }

}

/* laptop */
@media(min-width: 1024px) { 
    .benefits-list {
        flex-flow: initial;
    }

    .brands-list-item img {
        width: initial;
    }
    
}