/* mobile-first*/
h1, h4, a, span, img {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h4, a, img {cursor: pointer;}

.container, header, .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
}

.container {
    border-top: 4px solid black;
}

/* header */
header {
    align-items: center;
}
/* menu */
.menu, .helper, .help-desk {
    display: flex;
}

.menu {
    align-items: center;
}

.help-desk {
    height: 12px;
    width: 185px;
    margin: 38px 0%;
    justify-content: space-around;
}

.help-desk h4, .helper-search, .helper-bag, .helper-person{
    font-size: 0.77873rem;
}

.helper {
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 244px;
    margin: 36px 0%;
}

.helper-bag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 136px;
}

.helper-search, .helper-bag, .helper-person {
    height: 100%;
}

.log {
    height: 54px;
    width: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log h1 {
    font-size: 2.125rem;
}

.log-title-strong {
    font-weight: 900;
}

.log img {
    max-width: 56px;
    max-height: 18px;
}

/* navbar */
.btn-nav, .navbar-list{
    display: flex;
}
.btn-nav {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 27px;
}

nav {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 5%;
    left: 0;
    z-index: 100;
    background: rgba(55, 55, 55, 0.9);
    width: 90%;
    max-width: 400px;
    padding-top: 10px;
}

.navbar-list {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.navbar-list li {
    max-height: 12px;
    margin: 27px 0%;
}

.navbar-list li strong {
    font-weight: bolder;
}
.navbar-list li a, nav i {
    color: rgb(255, 255, 255);
}

/* banner */
.banner {
    width: 100%;
    max-height: 379px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20.5px
}

.slider {
    display: none;
    width: 100%;
    max-height: 379px;
}
  
.slider img {
    height: 100%;
    width: 100%;
} 

.slider-check {
    position: absolute;
    bottom: 5.27704%;
    width: 85px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

input {
    display: none;
}

.slider-check span{
    visibility: hidden;
}
.slider-check a {
    background-color: #676e81;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: 10;
}
.slider-check a:hover {
    opacity: 0.5;
}
.slider:target{
    display: block;
}

/* above table */
@media(min-width: 768px) {
    
    .container {
        width: 93.75%;
        margin: 0% auto;
    }

    .menu {
        flex-direction: row;
        justify-content: space-around;
    }

    nav {
        display: flex;
        position: initial;
        padding: 0%;
        max-width: initial;
        width: 100%;
        background: initial;
    }
    
    .navbar-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0% 1px;
    }

    .btn-nav, nav span {
        display: none;
    } 

    .navbar-list li a {
        color: #424242;
    }

}

@media(min-width: 978px) and (max-width: 840px) {
    .navbar-list {
        justify-content: space-between;
    }
}


